/* NAVBAR */
.navbar {
  background-color: #1e1e1e !important;
}

/* Links da navbar */
.navbar .nav-link {
  color: #ffffff !important;
}

/* Hover dos links */
.navbar .nav-link:hover {
  color: #2e7d32 !important;
}

p{
    color: #141414 !important;
}

p:hover{
   color: #ffffff !important
}
.card:hover .card-text {
  color: #2e7d32 !important;
}
.card:hover .card-title {
  color: #ffffff !important;
}
/* CARDS */
.card {
  background-color: #1e1e1e;
  color: #ffffff;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Título do card */
.card-title {
  color: #2e7d32;
}

/* Texto do card */
.card-text {
  color: #e0e0e0;
}

/* HOVER do card */
.card:hover {
  background-color: #141414; /* mais escuro */
  transform: translateY(-5px);
}

.fav-btn {
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: gold;
}

.fav-btn.favoritado {
    color: orange;
}

/* Área principal */
.abertura-detalhe {
  background-color: #6f6f6f; /* cinza do mockup */
  padding: 30px;
  border-radius: 8px;
}

/* Caixa da imagem */
.img-box {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/* Imagem do tabuleiro */
.img-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* CARD DO COMENTÁRIO */
.comentario-card {
  background-color: #1e1e1e;
  border: 1px solid #2e7d32;
  border-radius: 8px;
}

/* Nome do usuário */
.comentario-autor {
  color: #2e7d32;
  font-weight: bold;
}

/* Data */
.comentario-data {
  color: #9e9e9e;
  font-size: 0.8rem;
}

/* Texto do comentário */
.comentario-texto {
  color: #ffffff !important;
  line-height: 1.5;
}

.comentario-card:hover {
  background-color: #141414;
  transform: translateY(-2px);
  transition: 0.2s ease;
}


/* FOOTER */
footer {
  background-color: #1e1e1e;
  color: #ffffff;
}

